html {
  .img-thumbnail {
    border: 1px solid #ddd; /* Add a border if needed */
    max-width: 100%;
    height: 100%;
  }
}

body{
  background-color: grey;
}

h3{
  color: green;
}

.blue{
  color: blue;
}

.red{
  color: red;
}